<h1>Form Parameters</h1>
<p>Input text here...</p>
<form action="/reverse" method="post" accept-charset="utf-8">
    <input type="text" name="post[txtstr]" value=""
    id="txtstr" /><br />
    <input type="submit" value=".. and reverse it!">
</form>
